* {
    font-family: "monospace", sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.hero {
    width: 100%;
    height: 100vh;
    background-color: grey;
    position: relative;
    align-items: center;
}

nav {
    background-color: white;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;

}

@media (max-width: 1000px) {
    nav {
        flex-direction: column;
        display: inline-block;
        text-align: center;
    }
}

nav li {
    list-style: none;
    margin-inline: 20px;
}

nav li a {
    text-decoration: none;
    color: orange;
    font-size: 120px;
    margin-inline: 20px;
}

#a1 {
    background-color: aquamarine;
}

#a2 {
    background-color: red;
}